img{
    width: 60vw;
}

.btnCode{
    font-size: xx-large;
    font-weight: bold;
    color: darkblue;
    border: solid;
    padding: 30px 15px;
    border-style: dashed;
    border-radius: 20px;
}

.btnCopy{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

ul{
    list-style-type: disc;
    font-size: x-large;
    line-height: 2;
}