<!-- Breadcrumb Area Start Here -->
<div class="breadcrumb-area">
  <h3 class="text-center text-primary" style="text-align: center;">Wishlist</h3>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Wish List Start -->
<div class="cart-main-area wish-list white-bg ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Form Start -->
        <form action="#">
          <!-- Table Content Start -->
          <div class="table-content table-responsive">
            <table>
              <tbody>
                <tr *ngFor="let item of products; let i = index">
                  <!-- <td class="product-remove"> <a (click)="removeProducts(item.name, i + 1)"><i class="fa fa-times" aria-hidden="true"></i></a></td> -->
                  <td class="product-thumbnail">
                    <a><img src="{{baseURL}}/retrieve/{{item.media[0].url}}" alt="cart-image" /></a>
                  </td>
                  <td class="product-name"><a>{{item.name}}</a></td>
                  <td class="product-price"><span class="amount">₹ {{item.price}}.00</span></td>
                  <td class="product-add-to-cart"><a style="cursor: pointer;" (click)="addProducts(item, 1)">add to cart</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Table Content Start -->
        </form>
        <!-- Form End -->
      </div>
    </div>
    <!-- Row End -->
  </div>
</div>
<!-- Wish List End -->