<!-- Breadcrumb Area Start Here -->
<div class="breadcrumb-area">
  <h3 class="text-center text-primary" style="text-align: center;">Return Policy</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <h3><strong>RETURN POLICY</strong></h3>
          <p>Lenphor does not have a product return policy.</p>
          <p>However, in case wrong products (incomplete sets, damaged or incorrect products) are received by the
            customer, they will receive store credits to buy another product from the website.</p>
          <p>Intimation: You can either call our Support Number 1800 212 9960 or Email Us at <a
              href="mailto:info@Lenphor.com">info@Lenphor.com</a> within 48 hours from the date of delivery.</p>
          <p>NO REFUNDS and REPLACEMENTS would be entertained for International shipments.</p>
          <div><strong>Which are the items that cannot be returned/exchanged?</strong></div>
          <div>&nbsp;</div>
          <div>
            <p>Returns will not be accepted under the following conditions:</p>
            <ul>
              <li>Product is damaged due to misuse/overuse</li>
              <li>If the Product is open the product won’t be returned.</li>
              <li>Returned without original packaging including, price tags, labels, original packing, freebies, and
                other accessories or if original packaging is damaged</li>
              <li>Bar Code has tampered.</li>
              <li>Product is used or altered (Altered in a way to swatch and see the color or shade of the product)</li>
              <li>If the request is initiated after 3 business days of the order delivered.</li>
              <li>Free product provided by the brand</li>
            </ul>
            <div><span style="color: #0e101a;">&nbsp;</span></div>
            <p><strong>I have received a damaged or defective item/wrong product in my order, how should I
                proceed?</strong></p>
            <p>Our shipments go through precise quality check methods before they leave our warehouse. However, in the
              rare case that your product is damaged during shipment or transportation, you can request a replacement or
              cancellation.</p>
            <p><strong>Note:</strong> If it is a case of replacement, it is subject to the availability of stock. In
              case that a replacement may not be available, we will redeem the amount as points in your Lenphor Wallet
              for future purchases same&nbsp;is&nbsp;for cancellation.</p>
            <h3><strong>CANCELLATION POLICY</strong></h3>
            <p><br>In case you wish to cancel an order, an easy cancellation process is available for all our esteemed
              customers. You can cancel your online order within 24 hours of placing the order. Your entire order amount
              will be refunded.</p>
            <p>Any order once shipped will not be canceled.</p>
            <p>You can cancel an order in easy steps: Call us on our support Number 1800 212 9960 and email us on
              &nbsp;<a href="mailto:info@Lenphor.com">info@Lenphor.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>